<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAYMENT WITH PAYSTACK</title>
</head>
<body onload="payWithPaystack()">
    <div id="success">

    </div>

    <div id="output">

    </div>

    <div id="display_info">
        <p>Click <a href="{% url 'orders:render_pdf' order.id %}">Here</a> to print receipt of your purchase</p>
        <p id="home">Go Back To Shop <a href="{% url 'shop:product_list' %}">Homepage</a></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script>
        window.onload=function(){
            $("#display_info").hide();
            payWithPaystack();
        };

        function payWithPaystack(){
            var a = '{{ cart.get_total_price }}';
            var handler = PaystackPop.setup({
                key: 'pk_test_ce8979497f703eb955ab5ceb19fc54cdcb615e0d',
                email:'{{email}}',
                amount: parseInt(a) * 100,
                currency: "NGN",
                metadata: {
                    custom_fields: [
                        {
                            display_name: "Mobile Number",
                            variable_name: "mobile_number",
                            value: "{{phone}}",
                            order_id: "{{ order.id }}"
                        }
                    ]
                },

                callback: function(response){
                    var ref = response.reference;
                    var order_random_id = '{{ order.order_id }}'
                    var order_id = '{{ order.id }}'
                    //console.log(order_id)
                    $('#success').html("<h2>Success. Transaction reference is : </h2>" + ref + "<h2>and your order id is </h2>" + order_random_id);
                    $("#display_info").show();
                    // $('div#home').show();
                    $.ajax({
                        method: "GET",
                        url: "{% url 'orders:pay_with_paystack' %}",
                        data: {
                            'id': order_id,
                          'reference': ref,
                        },
                        dataType: "json",

                        success: function (data) {
                            $('#output').html(data.message)
                        },
                    });
                },

                onClose: function(){
                    alert('window closed');
                }
            });

            handler.openIframe();
        }
    </script>
</body>
</html>
