{% extends 'shop/base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h2>Login Form:</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text">
                            <i class="fas fa-user"></i>
                        </span>
                        {{ form.username }}
                        {{ form.username.help_text }}
                    </div>
                    <br>

                    <div class="input-group flex-nowrap">
                        <span class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </span>
                        {{ form.password }}
                        {{ form.password.help_text }}
                    </div>
                    <br>
                    <button class="btn btn-success" type="submit">Log In</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}